<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beeke</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <!--HEADER-->
    <header>
        <!--Genero una primera seccion dentro del header-->
        <div class="main-header-top-bar">
            <!--Genero el Logo-->
            <a href="/"><img src="img/logo_beeke_naranja.webp" alt="logo" class="logo"></a>

            <!--Genero search bar o barra de busqueda-->
            <form action="/barra-busqueda" method="GET" class="searchbar">
                <input type="text" placeholder="Busca tu producto Beeke" class="form-busqueda" > 
                <a href="/busqueda-productos"><i class="fas fa-search lupa"></i></a>
            </form>
            
            <!--Genero login bar o barra de inicio-->
            <div class="loginbar">
                <ul class="loginbarlist">
                    <li class='loginbaritem'><a href="/login">Mi cuenta <i class="fas fa-user-circle"></i></a></li>
                    <li class='loginbaritem'> <a href="/register">Registrate <i class="far fa-id-card"></i></a></li>
                    <li class='loginbaritem'><a href="/productCart">Carrito <i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            
        
        </div>
        
        <!--Genero una tercera seccion con la barra de navegacion de productos-->
        <!--Genero las barras de navegacion-->
            <nav>
                <ul class="navbar">
                    <li class='navbaritem'><a href="#bicicletas">BICICLETAS</a></li>
                    <li class='navbaritem'><a href="#cascos">CASCOS</a></li>
                    <li class='navbaritem'><a href="#accesorios">ACCESORIOS</a></li>
                    <li class='navbaritem'><a href="#indumentaria">INDUMENTARIA</a></li>                    
                </ul>
            </nav>
            
        <!--Genero el burguer menu para mobile-->
            <div class="menu">
                <i class="fas fa-chevron-circle-down"></i>
            </div>
       
    </header>

    <!--MAIN-->
    <main>
        <!--Seccion Productos Destacados-->
        <section class= 'section-home'>
            <h2 class='titular'><i class="fas fa-biking"></i> Productos Destacados</h2>

            <section class= 'productos-destacados'>
                
                <a href="/productDetail">
                <article class= "producto-top">
                    <img src="img/productos/accesorio-2.jpg" alt="accesorio2" class="articulo">
                    <p class="producto-titulo"><strong> Porta Celular Biker</strong></p>
                    <section class="producto-bottom">
                        <p class="precio"> $9.500 </p>
                        <p class="descuento"> 10% off </p>  
                    </section>    
                </article>
                </a>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/bicicleta-blanca.jpg" alt="bicicleta2" class="articulo">
                        <p class="producto-titulo"><strong>Powerbike Beach</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $38.700 </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/casco-violeta.jpg" alt="Casco1" class="articulo">
                        <p class="producto-titulo"><strong>Casco Rockbross </strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $12.000 </p>
                            <p class="descuento"> 20% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/indumentaria-blanca.jpg" alt="Conjunto1" class="articulo">
                        <p class="producto-titulo"><strong>Conjunto Pijeer</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $32.500  </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>

            </section>
            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>

        <!--Seccion Bicicletas-->
        <section class= 'section-home section-articles'>
            <h2 class='titular'><a name="bicicletas"><i class="fas fa-biking"></i> Bicicletas</a></h2>

            <section class= 'productos-destacados'>
                <article>
                    <section class= "producto-top">
                        <img src="img/productos/bicicleta-naranja.jpg" alt="bicicleta1" class="articulo">
                        <p class="producto-titulo"><strong>Motomel Maxam</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $45.000 </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/bicicleta-blanca.jpg" alt="bicicleta2" class="articulo">
                        <p class="producto-titulo"><strong>Powerbike Beach</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $38.700 </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/bicicleta-gris.jpg" alt="bicicleta3" class="articulo">
                        <p class="producto-titulo"><strong>Mountain Dreams</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $28.500 </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>
            </section>

            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>


        <!--Seccion Cascos-->
        <section class= 'section-home section-articles'>
            <h2 class='titular'><a name="cascos"><i class="fas fa-biking"></i> Cascos</a></h2>

            <section class= 'productos-destacados'>
                <article>
                    <section class= "producto-top">
                        <img src="img/productos/casco-violeta.jpg" alt="Casco1" class="articulo">
                        <p class="producto-titulo"><strong>Casco Rockbross</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $12.000 </p>
                            <p class="descuento"> 20% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/casco-naranja.jpg" alt="Casco3" class="articulo">
                        <p class="producto-titulo"><strong>Casco Urbano </strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $8.000 </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/casco-negro.jpg" alt="Casco2" class="articulo">
                        <p class="producto-titulo"><strong>Casco D Giro</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $14.800  </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>
            </section>

            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>

        <!--Seccion Accesorios-->
        <section class= 'section-home section-articles'>
            <h2 class='titular'><a name="accesorios"><i class="fas fa-biking"></i> Accesorios</a></h2>
            <section class= 'productos-destacados'>
                <article>
                    <section class= "producto-top">
                        <img src="img/productos/accesorio-1.jpg" alt="accesorio1" class="articulo">
                        <p class="producto-titulo"><strong>Guantera Rockbross</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $5.000 </p>
                            <p class="descuento"> 8% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/accesorio-2.jpg" alt="accesorio2" class="articulo">
                        <p class="producto-titulo"><strong> Porta Celular Biker</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $9.500 </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/accesorio-3.jpg" alt="accesorio3" class="articulo">
                        <p class="producto-titulo"><strong>Porta Vinos Urbano</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $4.500  </p>
                            <p class="descuento"> 15% off </p>  
                        </section>
                    </section>  
                </article>
            </section>

            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>

        <!--Seccion Indumentaria-->
        <section class= 'section-home section-articles'>
            <h2 class='titular'><a name="indumentaria"><i class="fas fa-biking"></i> Indumentaria</a></h2>
            <section class= 'productos-destacados'>
                <article>
                    <section class= "producto-top">
                        <img src="img/productos/indumentaria-blanca.jpg" alt="Conjunto1" class="articulo">
                        <p class="producto-titulo"><strong>Conjunto Pijeer</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $12.500  </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/indumentaria-negra.jpg" alt="Conjunto2" class="articulo">
                        <p class="producto-titulo"><strong>Conjunto Lixada </strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $9.000 </p>
                            <p class="descuento"> 20% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/indumentaria-rojo.jpg" alt="Conjunto3" class="articulo">
                        <p class="producto-titulo"><strong>Conjunto Lixada</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $15.000  </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>
            </section>

            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>  
    </main>

    <!--FOOTER-->
    <footer>
        <!--Genero una segunda seccion con los datos de contacto-->
        
        <div class="flex-footer">
            <article class="footer-item">
                <div class='icono'><i class="fas fa-credit-card"></i></div>
                <h2>Todos los medios de pago.</h2>
                <p> Consulta con nuestros vendedores por todos los medios de pago vigentes y hasta 6 cuotas sin interes
                    con tarjetas Maestro, Visa y Mastercard.</p>
            </article>
            
            <article class="footer-item">
                <div class='icono'><i class="fas fa-shipping-fast"></i></i></div>
                <h2>Envíos a todo el país</h2>
                <p>Envíos gratis dentro de Chajarí. Consulta precios de envíos puerta a puerta a todas las
                    localidades del país.</p>
            </article>
            
            <article class="footer-item">
                <div class='icono'><i class="fas fa-box-open"></i></div>
                <h2>Garantía en todos los Productos</h2>
                <p>Todos nuestros productos cuentan con una garantía extendida de 2 años por parte
                    de los fabricantes.</p>
            </article>
        </div>
        <div class="datoslocal">
            <p> Dirección: Bolivar 390 - Chajari - Entre Ríos </p>
            <p> Teléfono: (+54) 3456-421311 </p>
            <p> Email: contacto@beeke.com.ar </p>
        </div>

        <article class="footer_social">
            <p>Seguinos en</p>
            <div class="footer_social_box">
            <div class="footer_iconos_social"><i class="fab fa-facebook"></i></div>
            <div class="footer_iconos_social"><i class="fab fa-instagram"></i></div>
            <div class="footer_iconos_social"><i class="fab fa-tiktok"></i></div>
            </div>
    </footer>
</body>
</html>