/* -----Paleta de Colores-----*/
/*  Gris: #88898C
    Naranja Oscuro: ##ff9a02
    Naranja Claro: #FAB456
*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*--------------FOOTER--------------*/
footer{
    background-color:white;
    width: 100vw;
    background: url('../img/footer_background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    position:absolute;
    padding: 15px;
}

footer article{
    text-align: center;
    line-height: 16px;
    padding: 5px;
}

.datoslocal{
    font-size: 10px;
    color:#ff9a02;
    font-weight: bolder;
}

.icono{
    color:#ff9a02;
    font-size: 2em;
    margin-bottom: 10px;
}

footer h2 {
    font-size: 18px;
    color: #88898C;
    margin-bottom: 0 auto;
}

.footer_iconos_social{
    color:#ff9a02;
    font-size:30px;
    transition: 450ms;
}

/*-----Desktop--------*/
@media (min-width: 767px) {
    /*--------FOOTER--------*/
    .flex-footer{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-item{
        width: 30vw;
    }
    .datoslocal{
        font-size: 1vw;
        margin:15px 0px;
    }
    .footer_iconos_social:hover{
        position:relative;
        font-size:40px;
    }
    
    
}