/* -----Paleta de Colores-----*/
/*  Gris: #797a7c
    Naranja Oscuro: #ff9a02
    Naranja Claro: #FAB456
    Gris logo: #98acbc
*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

/*-----------------------HEADER-----------------------*/
header{
    background-color: #F2F2F2;
    width: 100vw;
    background: url('../img/header_background.jpg') no-repeat bottom right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    top:0px;
    z-index: 1;
}

.main-header-top-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    padding: 0px;
    width: 60vw;
}

.searchbar{
    font-size: 12px;
    color: #88898C;
    width: 60vw;
    background-color: white;
    padding: 12px;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 2px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 2px #797a7c;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 12px;
}

.searchbar i{
    color:#98acbc;
}

.form-busqueda{
    border: none;
    overflow: hidden;
    word-wrap: break-word;
    width:90%;
}

.loginbar{
    display: none;
}

.datoslocal{
    display: none;
}

.navbar{
    display: none;
}

.menu{
    display: block;
    background-color: none;
    color: #ff9a02;
    font-size: 22px;
    text-align: center;
    width: 24px;
    border-radius: 5%;
    padding: 2px;
    margin: 7px auto;
}

/*----------MEDIA QUERIES------------*/
/*-----Mobile-------*/
/* Mobile sera cualquier dispositivo con ancho hasta 360 px*/
/*Todas las reglas de estilo de arriba corresponden a Mobile porque esta pensado en Mobile First*/

/*-----Tablets-------*/
@media (min-width: 361px) {
    /*--------HEADER--------*/
    .main-header-top-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100vw;
    }

    .logo{
        width: 30vw;     
    }

    .searchbar{
        margin-top:5vw;
        width: 30vw;
    }
    .loginbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 32vw;
        text-align: end;
        margin-right: 15px;
    }

    .loginbarlist{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: none;
        margin-right: 2.5vw;
        margin-top:1.5vw;
        width: 30vw;
        height: 65px;
    }

    .loginbaritem{
        margin: 0 3px;
        font-size: 12px;
        transition: all 200ms;
    }


    .loginbaritem i{
        color: #ff9a02;
        font-size: 2vw;
    }

    .loginbaritem:hover{
        font-size: 15px;
        font-weight: bold;
    }
       
    header a{
        text-decoration: none;
        color: #747a91;
    }

    .datoslocal{
        display: block;
        width: 50%;
        margin: 0px 8px;
        color: #F2F2F2;
        font-size: 10px;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        font-size: 12px;
        font-weight: bolder;
        width: 100vw;
        height: 35px;
        margin: 10px 0px;
    }

    .navbaritem{
        color: #ff9a02;
        background-color: #ff9a02;
        width: 20vw;
        border: 2px #ff9a02 solid;
        box-shadow: 0px 2px 2px #ff9a02;
        border-radius: 15px;
        text-align: center;
        padding: 5px;
        font-weight: bolder;
        margin-bottom: 5px;
        opacity: 100%;
    }

        .navbaritem:hover{
        background-color:rgba(110, 128, 143,0.25);
        transition: 300ms;
        width: 21vw;
        box-shadow: 0px 2px 2px #797a7c;
        border: 2px solid #ff9a02 ;
        opacity: 75%;
        font-weight: bolder;
        text-align: center;

    }

    .navbaritem:hover > a{
        color: #ff9a02;
    }
    
    /*header a:hover{
        color: #ff9a02;
        font-size: 18px;
    }*/

    .menu{
        display: none;  
    }
}

/*-----Desktop--------*/
@media (min-width: 767px) {
    .navbar{
        font-size: 12px;
    }

    .loginbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 35vw;
        text-align: end;
    }

    .loginbarlist{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 15px;
    }

    .loginbaritem{
        font-size: 1.2vw;
        margin:0px;
        width: 33%;
        transition: all 200ms;
    }
    .loginbaritem:hover{
        font-size: 1.3vw;
        font-weight: bold;
    }


}