/* -----Paleta de Colores-----*/
/*  Gris: #88898C
    Naranja Oscuro: #F28322
    Naranja Claro: #FAB456
    Violeta Grisaceo: #5D6DD6
    Crema: #F2F2F2
*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#F2F2F2;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/*------------MAIN------------------*/
.main{
    width: 90vw;
    margin: auto;
}

.titular{
    font-size: 24px;
    color: #666;
}

/*Clase donde pongo estilos para todos los detalles de cada producto (precio, descuento, etc)*/
.producto{
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    padding: 12px;
    position: relative;
    transition: box-shadow 450ms;
    }

.producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/*Clase para los estilos de la imagen de cada articulo*/
.articulo{
    width: 90vw;
    margin: auto;
}

.precio{
    font-size: 14px;
    margin-bottom: 3px;
    width: 30%;
    line-height: 25px;
}

.descuento{
    font-size: 12px;
    color: #5D6DD6;
    width: 70%;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
}


.descripcion{
    display: none;
    /*text-decoration: none;
    color: transparent;*/
}

.producto:hover > .descripcion {
    font-size: 12px;
    color: #666;
    display: block;
}

.lista-articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*----------MEDIA QUERIES------------*/
/*-----Mobile-------*/
/* Mobile sera cualquier dispositivo con ancho hasta 360 px*/
/*Todas las reglas de estilo de arriba corresponden a Mobile porque esta pensado en Mobile First*/

/*-----Tablets-------*/
@media (min-width: 361px) {
    /*--------MAIN--------*/
    h2{
        margin: 15px 8px;
    }

    .descripcion{
        font-size: 12px;
        color: #666;
        display: block;
    }
    
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40vw;
    }

    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40vw;
    }

    .precio{
        font-size:12px;
        font-weight: bold;
    }

    .descuento{
        text-align: center;
        font-weight: bold;
    }

    .lista-articulos{
        justify-content: space-around;
    }
}

/*-----Desktop--------*/
@media (min-width: 767px) {
    /*--------MAIN--------*/
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20vw;
    }

    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20vw;
    }
}




