/* -----Paleta de Colores-----*/
/*  Gris: #88898C
    Naranja Oscuro: #F28322
    Naranja Claro: #FAB456
    Violeta Grisaceo: #5D6DD6
    Crema: #F2F2F2
*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#F2F2F2;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.main{
    width: 90vw;
    margin: auto;
    padding: 20px;
}

.section-home{
    width: 90vw;
    border-top: #98acbc 2px outset;
    border-radius: 1.5%;
    margin: 25px auto;
    padding: 5px;
    position: relative;
}

.section-home h2 {
    position: absolute;
    font-size: 26px;
    color: #ff9a02e0;
    background: #F2F2F2;
    top: -20px;
    left: 15px;
    line-height: 1;
    /*margin: 9px 0;*/
    padding: 0 5px;
  }

.ver-mas{
    position: absolute;
    font-size: 20px;
    color: #ff9a02e0;
    font-weight: bolder;
    bottom: 5px;
    right: 15px;

}

.productos-destacados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px auto;
    width: 85vw;
}

/*Clase que funciona como caja para la imagen del producto
y el titulo*/
.producto-top{
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 5%;
    position: relative;
    border: groove 2px #98acbc;
    }

/*Clase para los estilos de la imagen de cada articulo*/
.articulo{
    width: 90vw;
    margin: auto;
    color: #ff9a02e0;
}

.producto-titulo{
    font-size: 1.2em;
    text-align: center;
    color: #4f6274;
    margin-bottom: 10px;
}

/*Clase que funciona como caja para el precio, descuento y
descripcion del producto */
.producto-bottom{
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 12px;
    }

.precio{
    font-size: 18px;
    width: 30%;
    line-height: 25px;
    color: #4f6274;
}

.descuento{
    font-size: 12px;
    color: #5D6DD6;
    width: 70%;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
}

/*----------MEDIA QUERIES------------*/
/*-----Mobile-------*/
/* Mobile sera cualquier dispositivo con ancho hasta 360 px*/
/*Todas las reglas de estilo de arriba corresponden a Mobile porque esta pensado en Mobile First*/

/*-----Tablets-------*/
@media (min-width: 361px) {
    /*--------MAIN--------*/
    .articulo{
        width: 24vw;
    }

    .producto-bottom{
        width: 40vw;
    }

    .precio{
        font-size:12px;
        font-weight: bold;
    }

    .descuento{
        text-align: center;
        font-weight: bold;
    }
}

/*-----Desktop--------*/
@media (min-width: 767px) {
    /*--------MAIN--------*/
    .producto-bottom {
        width: 24vw;
        justify-content: center;
        padding: 0px;
        max-width: 850px;
    }

    .articulo{
        width: 24vw;
        max-height: 221px;
    }

    .producto-titulo{
        width: 24vw;
        font-size: 1.5em;
    }

    .precio{
        font-size: 1.5em;
        width: 45%;
    }

    .descuento{
        font-size:1.5em;
        text-align: right;
        font-weight: bold;
        width: 45%;
    }
}




