<!--HEAD-->
    <%- include ('./partials/indexHead') %> 

<body>
    <!--HEADER-->
    <%- include ('./partials/header') %> 

    <!--MAIN-->
    <main>
        <!--Seccion Productos Destacados-->
        <section class= 'section-home'>
            <h2 class='titular'><i class="fas fa-biking"></i> Productos Destacados</h2>

            <section class= 'productos-destacados'>
                
                <a href="/productDetail">
                <article class= "producto-top">
                    <img src="img/productos/accesorio-2.jpg" alt="accesorio2" class="articulo">
                    <p class="producto-titulo"><strong> Porta Celular Biker</strong></p>
                    <section class="producto-bottom">
                        <p class="precio"> $9.500 </p>
                        <p class="descuento"> 10% off </p>  
                    </section>    
                </article>
                </a>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/bicicleta-blanca.jpg" alt="bicicleta2" class="articulo">
                        <p class="producto-titulo"><strong>Powerbike Beach</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $38.700 </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/casco-violeta.jpg" alt="Casco1" class="articulo">
                        <p class="producto-titulo"><strong>Casco Rockbross </strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $12.000 </p>
                            <p class="descuento"> 20% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/indumentaria-blanca.jpg" alt="Conjunto1" class="articulo">
                        <p class="producto-titulo"><strong>Conjunto Pijeer</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $32.500  </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>

            </section>
            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>

        <!--Seccion Bicicletas-->
        <section class= 'section-home section-articles'>
            <h2 class='titular'><a name="bicicletas"><i class="fas fa-biking"></i> Bicicletas</a></h2>

            <section class= 'productos-destacados'>
                <article>
                    <section class= "producto-top">
                        <img src="img/productos/bicicleta-naranja.jpg" alt="bicicleta1" class="articulo">
                        <p class="producto-titulo"><strong>Motomel Maxam</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $45.000 </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/bicicleta-blanca.jpg" alt="bicicleta2" class="articulo">
                        <p class="producto-titulo"><strong>Powerbike Beach</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $38.700 </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/bicicleta-gris.jpg" alt="bicicleta3" class="articulo">
                        <p class="producto-titulo"><strong>Mountain Dreams</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $28.500 </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>
            </section>

            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>


        <!--Seccion Cascos-->
        <section class= 'section-home section-articles'>
            <h2 class='titular'><a name="cascos"><i class="fas fa-biking"></i> Cascos</a></h2>

            <section class= 'productos-destacados'>
                <article>
                    <section class= "producto-top">
                        <img src="img/productos/casco-violeta.jpg" alt="Casco1" class="articulo">
                        <p class="producto-titulo"><strong>Casco Rockbross</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $12.000 </p>
                            <p class="descuento"> 20% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/casco-naranja.jpg" alt="Casco3" class="articulo">
                        <p class="producto-titulo"><strong>Casco Urbano </strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $8.000 </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/casco-negro.jpg" alt="Casco2" class="articulo">
                        <p class="producto-titulo"><strong>Casco D Giro</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $14.800  </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>
            </section>

            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>

        <!--Seccion Accesorios-->
        <section class= 'section-home section-articles'>
            <h2 class='titular'><a name="accesorios"><i class="fas fa-biking"></i> Accesorios</a></h2>
            <section class= 'productos-destacados'>
                <article>
                    <section class= "producto-top">
                        <img src="img/productos/accesorio-1.jpg" alt="accesorio1" class="articulo">
                        <p class="producto-titulo"><strong>Guantera Rockbross</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $5.000 </p>
                            <p class="descuento"> 8% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/accesorio-2.jpg" alt="accesorio2" class="articulo">
                        <p class="producto-titulo"><strong> Porta Celular Biker</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $9.500 </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/accesorio-3.jpg" alt="accesorio3" class="articulo">
                        <p class="producto-titulo"><strong>Porta Vinos Urbano</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $4.500  </p>
                            <p class="descuento"> 15% off </p>  
                        </section>
                    </section>  
                </article>
            </section>

            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>

        <!--Seccion Indumentaria-->
        <section class= 'section-home section-articles'>
            <h2 class='titular'><a name="indumentaria"><i class="fas fa-biking"></i> Indumentaria</a></h2>
            <section class= 'productos-destacados'>
                <article>
                    <section class= "producto-top">
                        <img src="img/productos/indumentaria-blanca.jpg" alt="Conjunto1" class="articulo">
                        <p class="producto-titulo"><strong>Conjunto Pijeer</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $12.500  </p>
                            <p class="descuento"> 10% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/indumentaria-negra.jpg" alt="Conjunto2" class="articulo">
                        <p class="producto-titulo"><strong>Conjunto Lixada </strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $9.000 </p>
                            <p class="descuento"> 20% off </p>  
                        </section>
                    </section>  
                </article>

                <article>
                    <section class= "producto-top">
                        <img src="img/productos/indumentaria-rojo.jpg" alt="Conjunto3" class="articulo">
                        <p class="producto-titulo"><strong>Conjunto Lixada</strong></p>
                        <section class="producto-bottom">
                            <p class="precio"> $15.000  </p>
                            <p class="descuento"> 5% off </p>  
                        </section>
                    </section>  
                </article>
            </section>

            <p class="ver-mas"> Ver Más <i class="fas fa-search-plus"></i></p>

        </section>  
    </main>

    <!--FOOTER-->
    <%- include ('./partials/footer') %> 