<!--FOOTER-->
<footer>
    <!--Genero una segunda seccion con los datos de contacto-->
    
    <div class="flex-footer">
        <article class="footer-item">
            <div class='icono'><i class="fas fa-credit-card"></i></div>
            <h2>Todos los medios de pago.</h2>
            <p> Consulta con nuestros vendedores por todos los medios de pago vigentes y hasta 6 cuotas sin interes
                con tarjetas Maestro, Visa y Mastercard.</p>
        </article>
        
        <article class="footer-item">
            <div class='icono'><i class="fas fa-shipping-fast"></i></i></div>
            <h2>Envíos a todo el país</h2>
            <p>Envíos gratis dentro de Chajarí. Consulta precios de envíos puerta a puerta a todas las
                localidades del país.</p>
        </article>
        
        <article class="footer-item">
            <div class='icono'><i class="fas fa-box-open"></i></div>
            <h2>Garantía en todos los Productos</h2>
            <p>Todos nuestros productos cuentan con una garantía extendida de 2 años por parte
                de los fabricantes.</p>
        </article>
    </div>
    <div class="datoslocal">
        <p> Dirección: Bolivar 390 - Chajari - Entre Ríos </p>
        <p> Teléfono: (+54) 3456-421311 </p>
        <p> Email: contacto@beeke.com.ar </p>
    </div>

    <article class="footer_social">
        <p>Seguinos en</p>
        <div class="footer_social_box">
        <div class="footer_iconos_social"><i class="fab fa-facebook"></i></div>
        <div class="footer_iconos_social"><i class="fab fa-instagram"></i></div>
        <div class="footer_iconos_social"><i class="fab fa-tiktok"></i></div>
        </div>

    <div class="whatsapp"><i class="fab fa-whatsapp-square"></i></div>
    <div class="email"><i class="fas fa-envelope-square"></i></div>
</footer>
</body>
</html>