<!--HEAD-->
<%- include ('../partials/loginHead') %> 

<body>
    <!--HEADER-->
    <%- include ('../partials/header') %> 
    
    <!--MAIN-->
    <main>
        <form action="/" method="GET" class="formulariologin">
            <h2 class="titulologin">Ingresá a tu cuenta</h2>
            <input type="text" name="username" id="username" placeholder="Nombre de Usuari@" class="campologin" minlenght="8" required/>
            <input type="password" name="password" id="password" placeholder="Contraseña" class="campologin" minlength="8" required>
            <button type="submit" class="boton">Enviar</button>
            <button type="reset" class="boton">Cancelar</button>
            <h4 class="notengocuenta"><a href="/register">Todavía no tengo mi cuenta<i class="far fa-id-card"></i></a></li></h4>
        </form>


    </main>

    <!--FOOTER-->
    <%- include ('../partials/footer') %> 
</body>
</html>